<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.idk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcheri"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcheri_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Idk">
        <activity android:name=".start.MainActivity"></activity>
        <activity android:name=".machine.PrizesActivity" />
        <activity android:name=".machine.GameActivity" />
        <activity android:name=".DataActivity" />
        <activity android:name=".form.FormActivity" />

        <activity android:name=".start.SplashActivity"
            android:theme="@style/Theme.Idk.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>